* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #ffffff;
  height: 100vh;
}

/* Header */
.header {
  width: 100%;
  height: 85px;
  background: linear-gradient(90deg, #151565 0%, #0000FF 68%);
}

/* Login Card */
.login-container {
  width: 729px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  outline: 1px solid #00A014;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

/* Title */
.title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

input {
  height: 47px;
  background: #D9D9D9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 16px;
}

button {
  width: 130px;
  height: 47px;
  background: #00A014;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  opacity: 0.9;
}

/* Forgot password */
.forgot {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #0088FF;
  font-size: 15px;
  text-decoration: none;
}
