* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 85px;
  background: linear-gradient(90deg, #151565 0%, #0000FF 68%);
}

.card-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.card-btn:focus {
  outline: none;
}

.card-btn:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.cards-wrapper {
  width: 100%;
  height: calc(100vh - 85px);
  display: flex;
  flex-direction: row;      
  justify-content: center;    
  align-items: center;     
  gap: 120px;               
}

.card {
  width: 418px;
  height: 418px;
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.student-card {
  box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
}
.admin-card {
  box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
}

.icon {
  width: 190px;
  height: 190px;
  margin-bottom: 30px;
}

.svg-icon {
  width: 100%;
  height: 100%;
}

.label {
  font-size: 35px;
  font-weight: 400;
}

.admin-text {
  color: #00A014;
}

.student-text {
  color: #0000FF;
}
